<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidchoi.jobdam" >

    <application
        android:name=".Manager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".JobDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".CardWriteActivity" >
        </activity>
        <activity
            android:name=".LogIn.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogIn.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".SettingActivity" >
        </activity>
        <activity android:name=".SettingMenu.HelpDeskActivity" >
        </activity>
        <activity android:name=".SettingMenu.PrivacyActivity" >
        </activity>
        <activity android:name=".SettingMenu.LegalActivity" >
        </activity>
        <activity android:name=".SettingMenu.AlarmSettingActivity" >
        </activity>
        <activity android:name=".SettingMenu.VersionInfoActivity" >
        </activity>
    </application>

</manifest>
